{% extends 'base.html' %}

{% block style %}
{{ super() }}
{% endblock %}

{% set active_page = 'about' %}

{% block content %}
<h1>About this game</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum repellendus, cum nihil perferendis ipsum nesciunt quod nisi libero at quos eaque officiis. Voluptates dolor doloremque eum autem quidem? Dolorum, aliquam exercitationem odio incidunt ex optio illum alias natus eaque fugiat rerum nihil maxime perferendis quisquam autem aspernatur mollitia delectus libero.</p>
<h1>Rules</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat dicta dolores incidunt laudantium molestias provident quas eius tempora dolorem eligendi.</p>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
