{% extends 'base.html' %}

{% block style %}
{{ super() }}
{% endblock %}

{% set active_page = 'about' %}

{% block content %}
<div class="container bg-white p-5 mt-5 text-center rounded">
    <h4>About Me</h4>
    <p>Hey guys, I'm Khiem Nguyen. This is my first ever online game to be published. I utilized everything I
        learned so far from software development to deploying in the cloud as containers. I spend more than a year
        creating multiple versions of the game and this version is the best of my efforts by far. I hope you will
        find this game enjoyable.</p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}